*{ 
    margin : 0;
    padding: 0;
    box-sizing : border-box;
}

body {
    /* border: 2px solid orange; */
    /* display : flex; */
    align-items : center;
    justify-content : center;  
    background-color: rgba(170, 255, 249, 0.93);
    min-height : 100%;
}
 
.heading h1 {
  font-size: 2.2rem;
  margin-top: 3%;
  text-align: center;
  letter-spacing: 1px;
  color: rgb(30, 60, 100);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    /* border: 2px solid white; */
    position : relative;
    width : 100%;
    display : flex;
    align-items : center;
    justify-content : center;
    /* flex-warp : warp; */
    margin-top: 0.4%;
    padding : 5% 2% 2% 2%;  
}
  
.container .card {
    /* border: 2px solid cyan; */
    color: rgb(170, 50, 160);
    position: relative;
    width: 20%;
    max-width : 30%;
    height : 114px;  
    background-color : rgb(255, 185, 240);
    margin : 0% 3%;
    padding : 15px 20px 0px 20px;
    
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0, 0, 0, 0);
    transition : 0.5s ease-in-out;
    border-radius : 25px;
}

.container .card:hover {
    height : 380px;    
    width: 150%;
    background-color: rgb(255, 210, 245);
}
  
.container .card .image {
    /* border: 2px solid blue; */
    background-color : rgb(255, 185, 240);
    border-radius: 35px;
    position : relative;
    width : 112%;
    height : 250px;
    padding: 6px 0px;
    text-align: center;
    
    top : -15%;
    left: -6%;
    /* box-shadow : 0 5px 20px rgba(0, 0, 0, 0.5); */
    z-index : 0;
}
  
  /* .container .card .image img {
    max-width : 100%;
    border-radius : 15px;
  } */
  
.container .card .content {
    /* border: 2px solid greenyellow; */
    position : relative;
    height: 200%;
    top : -12%;
    padding : 10px 10px 0px 10px;
    color : #000000;
    text-align : center;
    
    visibility : hidden;
    opacity : 0;
    transition : 0.4s ease-in-out;
}
  
.container .card:hover .content {
    margin-top : 10px;
    visibility : visible;
    opacity : 1;
    transition-delay: 0.3s;
    max-height: 80%;
    max-width: 100%;
}

h2{
  font-size: 1.6rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* ---------------------------------------------Digital Clock-------------------------------------------- */
.digital-clock {
    position: relative;
    /* top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); */
    margin-top: 5%;
    color: rgb(46, 122, 253);
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}


/* ------------------------------------------Analog Clock------------------------------------------ */
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
} */
/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin-top: 11%;
    background: #2f363e;
    overflow: hidden;
} */

.clock{
    position: relative;
    top: -5%;
    scale: 1;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(20, 20, 20, 0.9);
    box-shadow: inset 5px 5px 25px rgba(0,0,0,0.25);
    border-radius: 50%;
}
.clock::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: #2f363e;
    border: 1px solid #fff;
    border-radius: 50%;
    z-index: 10000;
}
#time{
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#time .circle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
#time .circle svg{
    position: relative;
    transform: rotate(270deg);
}
#time .circle:nth-child(1) svg{
    width: 250px;
    height: 250px;
}
#time .circle:nth-child(2) svg{
    width: 210px;
    height: 210px;
}
#time .circle:nth-child(3) svg{
    width: 170px;
    height: 170px;
}
#time .circle svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 5;
    stroke: var(--clr);
    transform: translate(5px, 5px);
    opacity: 0.25;
}
#time .circle:nth-child(1) svg circle{
    stroke-dasharray: 760;
    stroke-dashoffset: 760;
}
#time .circle:nth-child(2) svg circle{
    stroke-dasharray: 630;
    stroke-dashoffset: 630;
}
#time .circle:nth-child(3) svg circle{
    stroke-dasharray: 510;
    stroke-dashoffset: 510;
}
.dots{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}
.dots::before{
    content: '';
    position: absolute;
    top: -3px;
    width: 15px;
    height: 15px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr),
                0 0 40px var(--clr),
                0 0 60px var(--clr),
                0 0 80px var(--clr);
}
.niddles{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}
.niddles i{
    position: absolute;
    width: 2px;
    height: 50%;
    background: var(--clr2);
    opacity: 0.75;
    border-radius: 6px;
    transform-origin: bottom;
    transform: scaleY(0.5);
}
.niddles.niddle2{
    width: 170px;
    height: 170px;
    z-index: 9;
}
.niddles.niddle2 i{
    width: 3px;
}
.niddles.niddle3{
    width: 140px;
    height: 140px;
    z-index: 8;
}
#time span{
    position: absolute;
    inset: 55px;
    text-align: center;
    color: #999;
    transform: rotate(calc(30deg * var(--i)));
    /* i.e., 360 / 12 = 30deg */
}
#time span b{
    font-size: 0.75em;
    font-weight: 500;
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
}

/* ---------------------------------------------Day and Date-------------------------------------------- */
.datetime {
    /* font-size: 11px; */
    /* padding: 0px; */
    /* background: #ffffff; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); */
    /* border-radius: 4px; */
    /* border-right: 10px #009578 solid; */
    width: 100%;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}

.day{
    margin-top: 8px;
    font-size: 1.3rem;
    color: rgb(46, 122, 253);
}
  
.date {
    margin-top: 2px;
    font-size: 1.3em;
    color: rgb(46, 122, 253);
}

/* --------------------------------------------Calendar---------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.wrapper{
    position: relative;
    top: -30%;
    left: -30%;
    scale: 0.65;
    width: 160%;
    background: rgba(255, 225, 250, 0.9);
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  }
  .wrapper header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
  }
  header .icons{
    display: flex;
  }
  header .icons span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
  }
  .icons span:last-child{
    margin-right: -10px;
  }
  header .icons span:hover{
    background: #f2f2f2;
  }
  header .current-date{
    font-size: 1.45rem;
    font-weight: 500;
  }
  .calendar{
    padding: 20px;
  }
  .calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }
  .calendar .days{
    margin-bottom: 20px;
  }
  .calendar li{
    color: #333;
    width: calc(100% / 7);
    font-size: 1.07rem;
  }
  .calendar .weeks li{
    font-weight: 500;
    cursor: default;
  }
  .calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
  }
  .days li.inactive{
    color: #aaa;
  }
  .days li.active{
    color: #fff;
  }
  .days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  .days li.active::before{
    background: #9B59B6;
  }
  .days li:not(.active):hover::before{
    background: #f2f2f2;
  }


/* -----------------------------  To-Do List App  ----------------------------- */
.container-to-do{
  width: 100%;
  min-height: 100%;
  user-select: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box{
  width: 100%;
  width: 100%;
  scale: 1.1;
  border-radius: 20px;
  background-color: rgb(255, 210, 245);
  padding: 30px;
}
img{
  margin-top: 25px;
  height: 25px;
  margin-left: 2%;
}
.content-to-do{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  background: white;
  border-radius: 20px;
  padding-left: 25px;
  margin-bottom: 15px;
}
.input-to-do{
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  padding: 12px 0px;
  font-size: 14px;
}
.button-to-do{
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 25px;
  background: rgb(46, 122, 253);
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.box ul li{
  list-style: none;
  font-size: 14px;
  padding: 12px 8px 12px 40px;
  cursor: pointer;
  position: relative;
}
.box ul li::before{
  content: '';
  position: absolute;
  background-image: url(assets/Unchecked.png);
  background-size: cover;
  height: 20px;
  width: 20px;
  top: 12px;
  left: 12px;
}
.box ul li.checked{
  text-decoration: line-through;
  color: rgb(94, 94, 94);
}
.box ul li.checked::before{
  background-image: url(assets/Checked.png);
  height: 18px;
  width: 18px;
  top: 13px;
  left: 13px;
}
.box ul li span{
  position: absolute;
  top: 8px;
  right: 10px;
  width: 30px;
  padding: 5px 4px;
  font-size: 10px;
  font-weight: 800;
  text-align: center;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.box ul li span:hover{
  background: white;
}
